<div class="card">
    <div class="card-header">
        <a class="btn btn-success" [routerLink]="['/home/pedidos/crear']"> Agregar</a>
        <br>
    </div>

    <div class="card-body table-responsive">
        <div *ngIf="isDataAvailable">                        
            <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions">
                <thead> 
                    <tr>
                        <th>Fecha</th>
                        <th>Pedido</th>                                              
                        <th>Bodega</th>
                        <th>Cliente</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>Acciones</th>   
                    </tr>         
                </thead>
                <tbody *ngIf="pedidos.length != 0">
                    <tr *ngFor="let pedido of pedidos">
                        <td>{{ pedido.cot_fecha | date :  "dd/MM/y" }}</td> 
                        <td>{{ pedido.cot_pedido }}</td>                                              
                        <td>{{ pedido.cot_bodega }}</td>
                        <td>{{ pedido.cot_cliente }}</td>
                        <td>{{ pedido.cot_total }}</td>
                        <td><span class="badge bg-success">Done</span></td>
                        <td style="text-align: center;">
                            <a [routerLink]="['/home/pedidos/crear']" title="Ver"><i class="fas fa-eye fa-sm mr-3" (click)="ver(pedido)" style="cursor: pointer;"></i></a>
                            <a [routerLink]="['/home/pedidos/crear']" title="Modificar"><i class="fas fa-edit fa-sm text-info mr-3" (click)="editar(pedido)" style="cursor: pointer;"></i></a>
                            <i title="Eliminar" class="far fa-trash-alt fa-sm text-danger" (click)="eliminarPedido(pedido.cot_empresa,pedido.cot_numero)" style="cursor: pointer;"></i>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="pedidos.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No hay registros!</td>
                    </tr>
                </tbody>
            </table>                         
        </div>                                      
    </div>
</div>
     
