<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card flex-fill">
                    <form [formGroup]="formPedido" (ngSubmit)="guardarPedido()">
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills pull-right" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tab-1">Pedido</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-2">Detalle</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">                           
                            <div class="tab-content">                        
                                <div class="tab-pane fade show active" id="tab-1" role="tabpanel">                              
                                    <div class="form-group">
                                        <div class="row justify-content-end">
                                            <div class="col-xs-3">                          
                                                <input type="text" class="form-control" id="cot_pedido" formControlName="cot_pedido" placeholder="##">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="fecha_pedido" class="form-label">Fecha</label>                                      
                                                <input (ngModel) = "fecha_pedido" [ngModelOptions]="{standalone: true}" type="date" class="form-control">
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="cot_bodega" class="form-label">Bodega</label>
                                                <select class="form-control select2" style="width: 100%;" id="cot_bodega" formControlName="cot_bodega" ngValue="cot_bodega">
                                                    <option selected>Seleccione ...</option>
                                                    <option [ngValue]="item.bod_codigo" *ngFor="let item of bodegaService.list">
                                                        {{ item.bod_descripcion }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">  
                                            <div class="mb-3 col-md-6">
                                                <label for="cot_vendedor" class="form-label">Vendedor</label>
                                                <select class="form-control select2" style="width: 100%;" id="cot_vendedor" formControlName="cot_vendedor">
                                                    <option selected>Seleccione ...</option> 
                                                    <option [ngValue]="item.vcn_codigo" *ngFor="let item of vendedorService.list">
                                                        {{ item.vcn_nombre }}
                                                    </option>
                                                </select>
                                            </div>  
                                            <div class="mb-3 col-md-6">
                                                <label for="cot_tipo_documento" class="form-label">Tipo Documento</label>
                                                <select class="form-control select2" style="width: 100%;" id="cot_tipo_documento" formControlName="cot_tipo_documento">
                                                    <option selected>Seleccione ...</option>
                                                    <option [ngValue]="item.ftd_codigo" *ngFor="let item of tipoDocumentoService.list">
                                                        {{ item.ftd_descripcion }}
                                                    </option>
                                                </select>
                                            </div>                                                                                                                                                          
                                        </div>                                            
                                        <div class="row">
                                            <div class="col-md-6">
                                                <br>
                                                <div class="input-group mb-3">
                                                    <label for="cot_cliente" class="input-group-text" >Cliente</label>
                                                    <input type="text" class="form-control" formControlName="cot_cliente" placeholder="Codigo Cliente" maxlength="10">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button" (click)="buscador.buscarCliente()"><i class="fas fa-search"></i></button>
                                                        <app-buscador #buscador></app-buscador>
                                                    </div>
                                                </div>
                                            </div>     
                                                                                                                     
                                            <div class="mb-3 col-md-6">
                                                <br>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="check_factura" disabled>
                                                    <label class="form-check-label" for="check_factura">
                                                        Pedido Facturado
                                                    </label>
                                                </div>
                                            </div>
                                        </div> 
                                        
                                    </div>                                                                             
                                </div>
                                <div class="tab-pane fade" id="tab-2" role="tabpanel"> 
                                    <div class="form-group">   
                                        <div formGroupName="formDetalle">                                                    
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <br>
                                                    <div class="input-group mb-3">
                                                        <label for="dct_producto" class="input-group-text" >Producto</label>
                                                        <input type="text" class="form-control" id="dct_producto" formControlName="dct_producto" placeholder="Codigo Producto" maxlength="25" >
                                                        <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button" (click)="buscador.buscarProducto()"><i class="fas fa-search"></i></button>
                                                        <app-buscador #buscador></app-buscador>
                                                        </div>
                                                    </div>
                                                </div>    
                                                <div class="mb-3 col-md-6">
                                                    <label for="dct_cantidad" class="form-label">Cantidad</label>
                                                    <input type="text"  class="form-control" id="dct_cantidad" formControlName="dct_cantidad" placeholder="0.00" >
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col-md-6">
                                                    <label for="dct_tipo_precio" class="form-label">Tipo precio</label>
                                                    <select class="form-control select2" style="width: 100%;" id="dct_tipo_precio" formControlName="dct_tipo_precio" (change)="seleccionarPrecio($event!)">
                                                        <option selected>Seleccione ...</option>
                                                        <option [value]="item.tip_codigo" *ngFor="let item of tipoPrecioService.list">
                                                            {{ item.tip_descripcion }}
                                                        </option>
                                                    </select>
                                                </div>  
                                                <div class="mb-3 col-md-6">
                                                    <label for="dct_precio_descuento" class="form-label">Precio</label>
                                                    <input type="number" class="form-control" id="dct_precio_descuento" formControlName="dct_precio_descuento" placeholder="0.00">
                                                </div>
                                                <input #total_detalle type="hidden">              
                                            </div>
                                            <br>
                                            <div class="row justify-content-start">
                                                <div class="col">                                                 
                                                    <button (click)="agregarDetalle()" [disabled]="!this.formPedido.get('formDetalle')!.valid" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</button>
                                                </div>                                          
                                            </div>                                           
                                        </div>
                                    </div>  
                                    <br><br>
                                    <div class="row">                                      
                                        <table class="table table-hover my-0">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Producto</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio</th>
                                                    <th>Total</th>
                                                    <th>Accion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor ="let item of detalle_pedidos">
                                                    <td>{{ item.dct_producto }}</td>
                                                    <td>{{ item.dct_cantidad }}</td>
                                                    <td>{{ item.dct_precio_descuento }}</td>
                                                    <td>{{ item.dct_total }}</td>
                                                    <td><i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarDetalle(item)" style="cursor: pointer;"></i></td>
                                                </tr>
                                            </tbody>
                                            
                                        </table>
                                    </div>
                                    <br><br>
                                    <div class="row justify-content-end">
                                        <div class="mb-3 col-md-3">
                                            <input [(ngModel)] = "total_pedido" [ngModelOptions]="{standalone: true}" type="number" class="form-control" placeholder="0.00" disabled>
                                        </div> 
                                    </div>                
                                </div>                        
                            </div>                            
                        </div>
                        <div class="card-footer text-right">      
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" [disabled]="!validarPedido()" class="btn btn-success"><i class="fas fa-database"></i> Guardar</button>                                   
                                    <a class="btn btn-danger" (click)="regresarListado()" [routerLink]="['/home/pedidos/listar']"><i class="fas fa-cancel"></i> Cancelar</a>
                                </div>
                            </div>                                                 
                        </div>
                    </form>
                </div>           
            </div>
        </div>
    </div> 
</div>
